# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# OS
.DS_Store
Thumbs.db

# Env
.env

# VSCode/IDE
.vscode/
.idea/

# Docker
*.tar

# Logs
*.log

# Test/coverage
htmlcov/
.coverage
.tox/

# Node/npm (якщо є фронтенд)
node_modules/

# Не відслідковувати локальні дані
orders.csv 